/* Version: 1.0.2 */

@media screen and (max-width:767px) {}

@media (min-width:768px) {}

@media (min-width:768px) {}

@media (max-width:767px) {}

@media (min-width:768px) {}

@media (min-width:768px) {}

@media (min-width:768px) {}

@media (max-width:767px) {}

@media (max-width:767px) {}

.vc_row:before,
.vc_row:after {
    content: " ";
    display: table
}

.vc_row:after {
    clear: both
}

@media (max-width:767px) {
    .vc_hidden-xs {
        display: none !important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .vc_hidden-sm {
        display: none !important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .vc_hidden-md {
        display: none !important
    }
}

@media (min-width:1200px) {
    .vc_hidden-lg {
        display: none !important
    }
}

.vc_non_responsive .vc_row .vc_col-sm-1 {
    position: relative;
    float: left;
    width: 8.33333333%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.vc_non_responsive .vc_row .vc_col-sm-2 {
    position: relative;
    float: left;
    width: 16.66666667%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.vc_non_responsive .vc_row .vc_col-sm-3 {
    position: relative;
    float: left;
    width: 25%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.vc_non_responsive .vc_row .vc_col-sm-4 {
    position: relative;
    float: left;
    width: 33.33333333%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.vc_non_responsive .vc_row .vc_col-sm-5 {
    position: relative;
    float: left;
    width: 41.66666667%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.vc_non_responsive .vc_row .vc_col-sm-6 {
    position: relative;
    float: left;
    width: 50%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.vc_non_responsive .vc_row .vc_col-sm-7 {
    position: relative;
    float: left;
    width: 58.33333333%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.vc_non_responsive .vc_row .vc_col-sm-8 {
    position: relative;
    float: left;
    width: 66.66666667%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.vc_non_responsive .vc_row .vc_col-sm-9 {
    position: relative;
    float: left;
    width: 75%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.vc_non_responsive .vc_row .vc_col-sm-10 {
    position: relative;
    float: left;
    width: 83.33333333%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.vc_non_responsive .vc_row .vc_col-sm-11 {
    position: relative;
    float: left;
    width: 91.66666667%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.vc_non_responsive .vc_row .vc_col-sm-12 {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.vc_non_responsive .vc_row .vc_col-sm-offset-12 {
    margin-left: 100%
}

.vc_non_responsive .vc_row .vc_col-sm-offset-11 {
    margin-left: 91.66666667%
}

.vc_non_responsive .vc_row .vc_col-sm-offset-10 {
    margin-left: 83.33333333%
}

.vc_non_responsive .vc_row .vc_col-sm-offset-9 {
    margin-left: 75%
}

.vc_non_responsive .vc_row .vc_col-sm-offset-8 {
    margin-left: 66.66666667%
}

.vc_non_responsive .vc_row .vc_col-sm-offset-7 {
    margin-left: 58.33333333%
}

.vc_non_responsive .vc_row .vc_col-sm-offset-6 {
    margin-left: 50%
}

.vc_non_responsive .vc_row .vc_col-sm-offset-5 {
    margin-left: 41.66666667%
}

.vc_non_responsive .vc_row .vc_col-sm-offset-4 {
    margin-left: 33.33333333%
}

.vc_non_responsive .vc_row .vc_col-sm-offset-3 {
    margin-left: 25%
}

.vc_non_responsive .vc_row .vc_col-sm-offset-2 {
    margin-left: 16.66666667%
}

.vc_non_responsive .vc_row .vc_col-sm-offset-1 {
    margin-left: 8.33333333%
}

.vc_non_responsive .vc_row .vc_col-sm-offset-0 {
    margin-left: 0%
}

.vc_non_responsive .vc_row .vc_hidden-sm {
    display: none !important
}

.vc_non_responsive .vc_row .vc_col-sm-1\/5 {
    position: relative;
    float: left;
    width: 20%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.vc_non_responsive .vc_row .vc_col-sm-2\/5 {
    position: relative;
    float: left;
    width: 40%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.vc_non_responsive .vc_row .vc_col-sm-3\/5 {
    position: relative;
    float: left;
    width: 60%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.vc_non_responsive .vc_row .vc_col-sm-4\/5 {
    position: relative;
    float: left;
    width: 80%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.vc_non_responsive .vc_row .vc_col-sm-5\/5 {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.vc_non_responsive .vc_row .vc_col-sm-offset-5\/5 {
    margin-left: 100%
}

.vc_non_responsive .vc_row .vc_col-sm-offset-4\/5 {
    margin-left: 80%
}

.vc_non_responsive .vc_row .vc_col-sm-offset-3\/5 {
    margin-left: 60%
}

.vc_non_responsive .vc_row .vc_col-sm-offset-2\/5 {
    margin-left: 40%
}

.vc_non_responsive .vc_row .vc_col-sm-offset-1\/5 {
    margin-left: 20%
}

.vc_non_responsive .vc_row .vc_col-sm-offset-0\/5 {
    margin-left: 0%
}

.vc_column_container {
    width: 100%
}

.vc_row {
    margin-left: -15px;
    margin-right: -15px
}

.vc_col-xs-1,
.vc_col-sm-1,
.vc_col-md-1,
.vc_col-lg-1,
.vc_col-xs-2,
.vc_col-sm-2,
.vc_col-md-2,
.vc_col-lg-2,
.vc_col-xs-3,
.vc_col-sm-3,
.vc_col-md-3,
.vc_col-lg-3,
.vc_col-xs-4,
.vc_col-sm-4,
.vc_col-md-4,
.vc_col-lg-4,
.vc_col-xs-5,
.vc_col-sm-5,
.vc_col-md-5,
.vc_col-lg-5,
.vc_col-xs-6,
.vc_col-sm-6,
.vc_col-md-6,
.vc_col-lg-6,
.vc_col-xs-7,
.vc_col-sm-7,
.vc_col-md-7,
.vc_col-lg-7,
.vc_col-xs-8,
.vc_col-sm-8,
.vc_col-md-8,
.vc_col-lg-8,
.vc_col-xs-9,
.vc_col-sm-9,
.vc_col-md-9,
.vc_col-lg-9,
.vc_col-xs-10,
.vc_col-sm-10,
.vc_col-md-10,
.vc_col-lg-10,
.vc_col-xs-11,
.vc_col-sm-11,
.vc_col-md-11,
.vc_col-lg-11,
.vc_col-xs-12,
.vc_col-sm-12,
.vc_col-md-12,
.vc_col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.vc_col-xs-1,
.vc_col-xs-2,
.vc_col-xs-3,
.vc_col-xs-4,
.vc_col-xs-5,
.vc_col-xs-6,
.vc_col-xs-7,
.vc_col-xs-8,
.vc_col-xs-9,
.vc_col-xs-10,
.vc_col-xs-11,
.vc_col-xs-12 {
    float: left
}

[dir=rtl] .vc_rtl-columns-reverse .vc_col-xs-1,
[dir=rtl] .vc_rtl-columns-reverse .vc_col-xs-2,
[dir=rtl] .vc_rtl-columns-reverse .vc_col-xs-3,
[dir=rtl] .vc_rtl-columns-reverse .vc_col-xs-4,
[dir=rtl] .vc_rtl-columns-reverse .vc_col-xs-5,
[dir=rtl] .vc_rtl-columns-reverse .vc_col-xs-6,
[dir=rtl] .vc_rtl-columns-reverse .vc_col-xs-7,
[dir=rtl] .vc_rtl-columns-reverse .vc_col-xs-8,
[dir=rtl] .vc_rtl-columns-reverse .vc_col-xs-9,
[dir=rtl] .vc_rtl-columns-reverse .vc_col-xs-10,
[dir=rtl] .vc_rtl-columns-reverse .vc_col-xs-11,
[dir=rtl] .vc_rtl-columns-reverse .vc_col-xs-12 {
    float: right
}

.vc_col-xs-12 {
    width: 100%
}

.vc_col-xs-11 {
    width: 91.66666667%
}

.vc_col-xs-10 {
    width: 83.33333333%
}

.vc_col-xs-9 {
    width: 75%
}

.vc_col-xs-8 {
    width: 66.66666667%
}

.vc_col-xs-7 {
    width: 58.33333333%
}

.vc_col-xs-6 {
    width: 50%
}

.vc_col-xs-5 {
    width: 41.66666667%
}

.vc_col-xs-4 {
    width: 33.33333333%
}

.vc_col-xs-3 {
    width: 25%
}

.vc_col-xs-2 {
    width: 16.66666667%
}

.vc_col-xs-1 {
    width: 8.33333333%
}

.vc_col-xs-pull-12 {
    right: 100%
}

.vc_col-xs-pull-11 {
    right: 91.66666667%
}

.vc_col-xs-pull-10 {
    right: 83.33333333%
}

.vc_col-xs-pull-9 {
    right: 75%
}

.vc_col-xs-pull-8 {
    right: 66.66666667%
}

.vc_col-xs-pull-7 {
    right: 58.33333333%
}

.vc_col-xs-pull-6 {
    right: 50%
}

.vc_col-xs-pull-5 {
    right: 41.66666667%
}

.vc_col-xs-pull-4 {
    right: 33.33333333%
}

.vc_col-xs-pull-3 {
    right: 25%
}

.vc_col-xs-pull-2 {
    right: 16.66666667%
}

.vc_col-xs-pull-1 {
    right: 8.33333333%
}

.vc_col-xs-pull-0 {
    right: auto
}

.vc_col-xs-push-12 {
    left: 100%
}

.vc_col-xs-push-11 {
    left: 91.66666667%
}

.vc_col-xs-push-10 {
    left: 83.33333333%
}

.vc_col-xs-push-9 {
    left: 75%
}

.vc_col-xs-push-8 {
    left: 66.66666667%
}

.vc_col-xs-push-7 {
    left: 58.33333333%
}

.vc_col-xs-push-6 {
    left: 50%
}

.vc_col-xs-push-5 {
    left: 41.66666667%
}

.vc_col-xs-push-4 {
    left: 33.33333333%
}

.vc_col-xs-push-3 {
    left: 25%
}

.vc_col-xs-push-2 {
    left: 16.66666667%
}

.vc_col-xs-push-1 {
    left: 8.33333333%
}

.vc_col-xs-push-0 {
    left: auto
}

.vc_col-xs-offset-12 {
    margin-left: 100%
}

.vc_col-xs-offset-11 {
    margin-left: 91.66666667%
}

.vc_col-xs-offset-10 {
    margin-left: 83.33333333%
}

.vc_col-xs-offset-9 {
    margin-left: 75%
}

.vc_col-xs-offset-8 {
    margin-left: 66.66666667%
}

.vc_col-xs-offset-7 {
    margin-left: 58.33333333%
}

.vc_col-xs-offset-6 {
    margin-left: 50%
}

.vc_col-xs-offset-5 {
    margin-left: 41.66666667%
}

.vc_col-xs-offset-4 {
    margin-left: 33.33333333%
}

.vc_col-xs-offset-3 {
    margin-left: 25%
}

.vc_col-xs-offset-2 {
    margin-left: 16.66666667%
}

.vc_col-xs-offset-1 {
    margin-left: 8.33333333%
}

.vc_col-xs-offset-0 {
    margin-left: 0%
}

.vc_col-xs-1\/5,
.vc_col-sm-1\/5,
.vc_col-md-1\/5,
.vc_col-lg-1\/5,
.vc_col-xs-2\/5,
.vc_col-sm-2\/5,
.vc_col-md-2\/5,
.vc_col-lg-2\/5,
.vc_col-xs-3\/5,
.vc_col-sm-3\/5,
.vc_col-md-3\/5,
.vc_col-lg-3\/5,
.vc_col-xs-4\/5,
.vc_col-sm-4\/5,
.vc_col-md-4\/5,
.vc_col-lg-4\/5,
.vc_col-xs-5\/5,
.vc_col-sm-5\/5,
.vc_col-md-5\/5,
.vc_col-lg-5\/5 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.vc_col-xs-1\/5,
.vc_col-xs-2\/5,
.vc_col-xs-3\/5,
.vc_col-xs-4\/5,
.vc_col-xs-5\/5 {
    float: left
}

.vc_col-xs-5\/5 {
    width: 100%
}

.vc_col-xs-4\/5 {
    width: 80%
}

.vc_col-xs-3\/5 {
    width: 60%
}

.vc_col-xs-2\/5 {
    width: 40%
}

.vc_col-xs-1\/5 {
    width: 20%
}

.vc_col-xs-pull-5\/5 {
    right: 100%
}

.vc_col-xs-pull-4\/5 {
    right: 80%
}

.vc_col-xs-pull-3\/5 {
    right: 60%
}

.vc_col-xs-pull-2\/5 {
    right: 40%
}

.vc_col-xs-pull-1\/5 {
    right: 20%
}

.vc_col-xs-pull-0\/5 {
    right: auto
}

.vc_col-xs-push-5\/5 {
    left: 100%
}

.vc_col-xs-push-4\/5 {
    left: 80%
}

.vc_col-xs-push-3\/5 {
    left: 60%
}

.vc_col-xs-push-2\/5 {
    left: 40%
}

.vc_col-xs-push-1\/5 {
    left: 20%
}

.vc_col-xs-push-0\/5 {
    left: auto
}

.vc_col-xs-offset-5\/5 {
    margin-left: 100%
}

.vc_col-xs-offset-4\/5 {
    margin-left: 80%
}

.vc_col-xs-offset-3\/5 {
    margin-left: 60%
}

.vc_col-xs-offset-2\/5 {
    margin-left: 40%
}

.vc_col-xs-offset-1\/5 {
    margin-left: 20%
}

.vc_col-xs-offset-0\/5 {
    margin-left: 0%
}

[dir="rtl"] .vc_rtl-columns-reverse .vc_col-xs-1\/5,
[dir="rtl"] .vc_rtl-columns-reverse .vc_col-xs-2\/5,
[dir="rtl"] .vc_rtl-columns-reverse .vc_col-xs-3\/5,
[dir="rtl"] .vc_rtl-columns-reverse .vc_col-xs-4\/5,
[dir="rtl"] .vc_rtl-columns-reverse .vc_col-xs-5\/5,
[dir="rtl"] .vc_rtl-columns-reverse .vc_non_responsive .vc_row .vc_col-sm-1\/5,
[dir="rtl"] .vc_rtl-columns-reverse .vc_non_responsive .vc_row .vc_col-sm-2\/5,
[dir="rtl"] .vc_rtl-columns-reverse .vc_non_responsive .vc_row .vc_col-sm-3\/5,
[dir="rtl"] .vc_rtl-columns-reverse .vc_non_responsive .vc_row .vc_col-sm-4\/5,
[dir="rtl"] .vc_rtl-columns-reverse .vc_non_responsive .vc_row .vc_col-sm-5\/5 {
    float: right
}

@media (min-width:768px) {
    .vc_col-sm-1,
    .vc_col-sm-2,
    .vc_col-sm-3,
    .vc_col-sm-4,
    .vc_col-sm-5,
    .vc_col-sm-6,
    .vc_col-sm-7,
    .vc_col-sm-8,
    .vc_col-sm-9,
    .vc_col-sm-10,
    .vc_col-sm-11,
    .vc_col-sm-12 {
        float: left
    }
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-sm-1,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-sm-2,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-sm-3,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-sm-4,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-sm-5,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-sm-6,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-sm-7,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-sm-8,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-sm-9,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-sm-10,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-sm-11,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-sm-12 {
        float: right
    }
    .vc_col-sm-12 {
        width: 100%
    }
    .vc_col-sm-11 {
        width: 91.66666667%
    }
    .vc_col-sm-10 {
        width: 83.33333333%
    }
    .vc_col-sm-9 {
        width: 75%
    }
    .vc_col-sm-8 {
        width: 66.66666667%
    }
    .vc_col-sm-7 {
        width: 58.33333333%
    }
    .vc_col-sm-6 {
        width: 50%
    }
    .vc_col-sm-5 {
        width: 41.66666667%
    }
    .vc_col-sm-4 {
        width: 33.33333333%
    }
    .vc_col-sm-3 {
        width: 25%
    }
    .vc_col-sm-2 {
        width: 16.66666667%
    }
    .vc_col-sm-1 {
        width: 8.33333333%
    }
    .vc_col-sm-pull-12 {
        right: 100%
    }
    .vc_col-sm-pull-11 {
        right: 91.66666667%
    }
    .vc_col-sm-pull-10 {
        right: 83.33333333%
    }
    .vc_col-sm-pull-9 {
        right: 75%
    }
    .vc_col-sm-pull-8 {
        right: 66.66666667%
    }
    .vc_col-sm-pull-7 {
        right: 58.33333333%
    }
    .vc_col-sm-pull-6 {
        right: 50%
    }
    .vc_col-sm-pull-5 {
        right: 41.66666667%
    }
    .vc_col-sm-pull-4 {
        right: 33.33333333%
    }
    .vc_col-sm-pull-3 {
        right: 25%
    }
    .vc_col-sm-pull-2 {
        right: 16.66666667%
    }
    .vc_col-sm-pull-1 {
        right: 8.33333333%
    }
    .vc_col-sm-pull-0 {
        right: auto
    }
    .vc_col-sm-push-12 {
        left: 100%
    }
    .vc_col-sm-push-11 {
        left: 91.66666667%
    }
    .vc_col-sm-push-10 {
        left: 83.33333333%
    }
    .vc_col-sm-push-9 {
        left: 75%
    }
    .vc_col-sm-push-8 {
        left: 66.66666667%
    }
    .vc_col-sm-push-7 {
        left: 58.33333333%
    }
    .vc_col-sm-push-6 {
        left: 50%
    }
    .vc_col-sm-push-5 {
        left: 41.66666667%
    }
    .vc_col-sm-push-4 {
        left: 33.33333333%
    }
    .vc_col-sm-push-3 {
        left: 25%
    }
    .vc_col-sm-push-2 {
        left: 16.66666667%
    }
    .vc_col-sm-push-1 {
        left: 8.33333333%
    }
    .vc_col-sm-push-0 {
        left: auto
    }
    .vc_col-sm-offset-12 {
        margin-left: 100%
    }
    .vc_col-sm-offset-11 {
        margin-left: 91.66666667%
    }
    .vc_col-sm-offset-10 {
        margin-left: 83.33333333%
    }
    .vc_col-sm-offset-9 {
        margin-left: 75%
    }
    .vc_col-sm-offset-8 {
        margin-left: 66.66666667%
    }
    .vc_col-sm-offset-7 {
        margin-left: 58.33333333%
    }
    .vc_col-sm-offset-6 {
        margin-left: 50%
    }
    .vc_col-sm-offset-5 {
        margin-left: 41.66666667%
    }
    .vc_col-sm-offset-4 {
        margin-left: 33.33333333%
    }
    .vc_col-sm-offset-3 {
        margin-left: 25%
    }
    .vc_col-sm-offset-2 {
        margin-left: 16.66666667%
    }
    .vc_col-sm-offset-1 {
        margin-left: 8.33333333%
    }
    .vc_col-sm-offset-0 {
        margin-left: 0%
    }
    .vc_col-sm-1\/5,
    .vc_col-sm-2\/5,
    .vc_col-sm-3\/5,
    .vc_col-sm-4\/5,
    .vc_col-sm-5\/5 {
        float: left
    }
    [dir="rtl"] .vc_rtl-columns-reverse .vc_col-sm-1\/5,
    [dir="rtl"] .vc_rtl-columns-reverse .vc_col-sm-2\/5,
    [dir="rtl"] .vc_rtl-columns-reverse .vc_col-sm-3\/5,
    [dir="rtl"] .vc_rtl-columns-reverse .vc_col-sm-4\/5,
    [dir="rtl"] .vc_rtl-columns-reverse .vc_col-sm-5\/5 {
        float: right
    }
    .vc_col-sm-5\/5 {
        width: 100%
    }
    .vc_col-sm-4\/5 {
        width: 80%
    }
    .vc_col-sm-3\/5 {
        width: 60%
    }
    .vc_col-sm-2\/5 {
        width: 40%
    }
    .vc_col-sm-1\/5 {
        width: 20%
    }
    .vc_col-sm-pull-5\/5 {
        right: 100%
    }
    .vc_col-sm-pull-4\/5 {
        right: 80%
    }
    .vc_col-sm-pull-3\/5 {
        right: 60%
    }
    .vc_col-sm-pull-2\/5 {
        right: 40%
    }
    .vc_col-sm-pull-1\/5 {
        right: 20%
    }
    .vc_col-sm-pull-0\/5 {
        right: auto
    }
    .vc_col-sm-push-5\/5 {
        left: 100%
    }
    .vc_col-sm-push-4\/5 {
        left: 80%
    }
    .vc_col-sm-push-3\/5 {
        left: 60%
    }
    .vc_col-sm-push-2\/5 {
        left: 40%
    }
    .vc_col-sm-push-1\/5 {
        left: 20%
    }
    .vc_col-sm-push-0\/5 {
        left: auto
    }
    .vc_col-sm-offset-5\/5 {
        margin-left: 100%
    }
    .vc_col-sm-offset-4\/5 {
        margin-left: 80%
    }
    .vc_col-sm-offset-3\/5 {
        margin-left: 60%
    }
    .vc_col-sm-offset-2\/5 {
        margin-left: 40%
    }
    .vc_col-sm-offset-1\/5 {
        margin-left: 20%
    }
    .vc_col-sm-offset-0\/5 {
        margin-left: 0%
    }
}

@media (min-width:992px) {
    .vc_col-md-1,
    .vc_col-md-2,
    .vc_col-md-3,
    .vc_col-md-4,
    .vc_col-md-5,
    .vc_col-md-6,
    .vc_col-md-7,
    .vc_col-md-8,
    .vc_col-md-9,
    .vc_col-md-10,
    .vc_col-md-11,
    .vc_col-md-12 {
        float: left
    }
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-md-1,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-md-2,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-md-3,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-md-4,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-md-5,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-md-6,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-md-7,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-md-8,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-md-9,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-md-10,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-md-11,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-md-12 {
        float: right
    }
    .vc_col-md-12 {
        width: 100%
    }
    .vc_col-md-11 {
        width: 91.66666667%
    }
    .vc_col-md-10 {
        width: 83.33333333%
    }
    .vc_col-md-9 {
        width: 75%
    }
    .vc_col-md-8 {
        width: 66.66666667%
    }
    .vc_col-md-7 {
        width: 58.33333333%
    }
    .vc_col-md-6 {
        width: 50%
    }
    .vc_col-md-5 {
        width: 41.66666667%
    }
    .vc_col-md-4 {
        width: 33.33333333%
    }
    .vc_col-md-3 {
        width: 25%
    }
    .vc_col-md-2 {
        width: 16.66666667%
    }
    .vc_col-md-1 {
        width: 8.33333333%
    }
    .vc_col-md-pull-12 {
        right: 100%
    }
    .vc_col-md-pull-11 {
        right: 91.66666667%
    }
    .vc_col-md-pull-10 {
        right: 83.33333333%
    }
    .vc_col-md-pull-9 {
        right: 75%
    }
    .vc_col-md-pull-8 {
        right: 66.66666667%
    }
    .vc_col-md-pull-7 {
        right: 58.33333333%
    }
    .vc_col-md-pull-6 {
        right: 50%
    }
    .vc_col-md-pull-5 {
        right: 41.66666667%
    }
    .vc_col-md-pull-4 {
        right: 33.33333333%
    }
    .vc_col-md-pull-3 {
        right: 25%
    }
    .vc_col-md-pull-2 {
        right: 16.66666667%
    }
    .vc_col-md-pull-1 {
        right: 8.33333333%
    }
    .vc_col-md-pull-0 {
        right: auto
    }
    .vc_col-md-push-12 {
        left: 100%
    }
    .vc_col-md-push-11 {
        left: 91.66666667%
    }
    .vc_col-md-push-10 {
        left: 83.33333333%
    }
    .vc_col-md-push-9 {
        left: 75%
    }
    .vc_col-md-push-8 {
        left: 66.66666667%
    }
    .vc_col-md-push-7 {
        left: 58.33333333%
    }
    .vc_col-md-push-6 {
        left: 50%
    }
    .vc_col-md-push-5 {
        left: 41.66666667%
    }
    .vc_col-md-push-4 {
        left: 33.33333333%
    }
    .vc_col-md-push-3 {
        left: 25%
    }
    .vc_col-md-push-2 {
        left: 16.66666667%
    }
    .vc_col-md-push-1 {
        left: 8.33333333%
    }
    .vc_col-md-push-0 {
        left: auto
    }
    .vc_col-md-offset-12 {
        margin-left: 100%
    }
    .vc_col-md-offset-11 {
        margin-left: 91.66666667%
    }
    .vc_col-md-offset-10 {
        margin-left: 83.33333333%
    }
    .vc_col-md-offset-9 {
        margin-left: 75%
    }
    .vc_col-md-offset-8 {
        margin-left: 66.66666667%
    }
    .vc_col-md-offset-7 {
        margin-left: 58.33333333%
    }
    .vc_col-md-offset-6 {
        margin-left: 50%
    }
    .vc_col-md-offset-5 {
        margin-left: 41.66666667%
    }
    .vc_col-md-offset-4 {
        margin-left: 33.33333333%
    }
    .vc_col-md-offset-3 {
        margin-left: 25%
    }
    .vc_col-md-offset-2 {
        margin-left: 16.66666667%
    }
    .vc_col-md-offset-1 {
        margin-left: 8.33333333%
    }
    .vc_col-md-offset-0 {
        margin-left: 0%
    }
    .vc_col-md-1\/5,
    .vc_col-md-2\/5,
    .vc_col-md-3\/5,
    .vc_col-md-4\/5,
    .vc_col-md-5\/5 {
        float: left
    }
    [dir="rtl"] .vc_rtl-columns-reverse .vc_col-sm-1\/5,
    [dir="rtl"] .vc_rtl-columns-reverse .vc_col-sm-2\/5,
    [dir="rtl"] .vc_rtl-columns-reverse .vc_col-sm-3\/5,
    [dir="rtl"] .vc_rtl-columns-reverse .vc_col-sm-4\/5,
    [dir="rtl"] .vc_rtl-columns-reverse .vc_col-sm-5\/5 {
        float: right
    }
    .vc_col-md-5\/5 {
        width: 100%
    }
    .vc_col-md-4\/5 {
        width: 80%
    }
    .vc_col-md-3\/5 {
        width: 60%
    }
    .vc_col-md-2\/5 {
        width: 40%
    }
    .vc_col-md-1\/5 {
        width: 20%
    }
    .vc_col-md-pull-5\/5 {
        right: 100%
    }
    .vc_col-md-pull-4\/5 {
        right: 80%
    }
    .vc_col-md-pull-3\/5 {
        right: 60%
    }
    .vc_col-md-pull-2\/5 {
        right: 40%
    }
    .vc_col-md-pull-1\/5 {
        right: 20%
    }
    .vc_col-md-pull-0\/5 {
        right: auto
    }
    .vc_col-md-push-5\/5 {
        left: 100%
    }
    .vc_col-md-push-4\/5 {
        left: 80%
    }
    .vc_col-md-push-3\/5 {
        left: 60%
    }
    .vc_col-md-push-2\/5 {
        left: 40%
    }
    .vc_col-md-push-1\/5 {
        left: 20%
    }
    .vc_col-md-push-0\/5 {
        left: auto
    }
    .vc_col-md-offset-5\/5 {
        margin-left: 100%
    }
    .vc_col-md-offset-4\/5 {
        margin-left: 80%
    }
    .vc_col-md-offset-3\/5 {
        margin-left: 60%
    }
    .vc_col-md-offset-2\/5 {
        margin-left: 40%
    }
    .vc_col-md-offset-1\/5 {
        margin-left: 20%
    }
    .vc_col-md-offset-0\/5 {
        margin-left: 0%
    }
}

@media (min-width:1200px) {
    .vc_col-lg-1,
    .vc_col-lg-2,
    .vc_col-lg-3,
    .vc_col-lg-4,
    .vc_col-lg-5,
    .vc_col-lg-6,
    .vc_col-lg-7,
    .vc_col-lg-8,
    .vc_col-lg-9,
    .vc_col-lg-10,
    .vc_col-lg-11,
    .vc_col-lg-12 {
        float: left
    }
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-lg-1,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-lg-2,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-lg-3,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-lg-4,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-lg-5,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-lg-6,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-lg-7,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-lg-8,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-lg-9,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-lg-10,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-lg-11,
    [dir=rtl] .vc_rtl-columns-reverse .vc_col-lg-12 {
        float: right
    }
    .vc_col-lg-12 {
        width: 100%
    }
    .vc_col-lg-11 {
        width: 91.66666667%
    }
    .vc_col-lg-10 {
        width: 83.33333333%
    }
    .vc_col-lg-9 {
        width: 75%
    }
    .vc_col-lg-8 {
        width: 66.66666667%
    }
    .vc_col-lg-7 {
        width: 58.33333333%
    }
    .vc_col-lg-6 {
        width: 50%
    }
    .vc_col-lg-5 {
        width: 41.66666667%
    }
    .vc_col-lg-4 {
        width: 33.33333333%
    }
    .vc_col-lg-3 {
        width: 25%
    }
    .vc_col-lg-2 {
        width: 16.66666667%
    }
    .vc_col-lg-1 {
        width: 8.33333333%
    }
    .vc_col-lg-pull-12 {
        right: 100%
    }
    .vc_col-lg-pull-11 {
        right: 91.66666667%
    }
    .vc_col-lg-pull-10 {
        right: 83.33333333%
    }
    .vc_col-lg-pull-9 {
        right: 75%
    }
    .vc_col-lg-pull-8 {
        right: 66.66666667%
    }
    .vc_col-lg-pull-7 {
        right: 58.33333333%
    }
    .vc_col-lg-pull-6 {
        right: 50%
    }
    .vc_col-lg-pull-5 {
        right: 41.66666667%
    }
    .vc_col-lg-pull-4 {
        right: 33.33333333%
    }
    .vc_col-lg-pull-3 {
        right: 25%
    }
    .vc_col-lg-pull-2 {
        right: 16.66666667%
    }
    .vc_col-lg-pull-1 {
        right: 8.33333333%
    }
    .vc_col-lg-pull-0 {
        right: auto
    }
    .vc_col-lg-push-12 {
        left: 100%
    }
    .vc_col-lg-push-11 {
        left: 91.66666667%
    }
    .vc_col-lg-push-10 {
        left: 83.33333333%
    }
    .vc_col-lg-push-9 {
        left: 75%
    }
    .vc_col-lg-push-8 {
        left: 66.66666667%
    }
    .vc_col-lg-push-7 {
        left: 58.33333333%
    }
    .vc_col-lg-push-6 {
        left: 50%
    }
    .vc_col-lg-push-5 {
        left: 41.66666667%
    }
    .vc_col-lg-push-4 {
        left: 33.33333333%
    }
    .vc_col-lg-push-3 {
        left: 25%
    }
    .vc_col-lg-push-2 {
        left: 16.66666667%
    }
    .vc_col-lg-push-1 {
        left: 8.33333333%
    }
    .vc_col-lg-push-0 {
        left: auto
    }
    .vc_col-lg-offset-12 {
        margin-left: 100%
    }
    .vc_col-lg-offset-11 {
        margin-left: 91.66666667%
    }
    .vc_col-lg-offset-10 {
        margin-left: 83.33333333%
    }
    .vc_col-lg-offset-9 {
        margin-left: 75%
    }
    .vc_col-lg-offset-8 {
        margin-left: 66.66666667%
    }
    .vc_col-lg-offset-7 {
        margin-left: 58.33333333%
    }
    .vc_col-lg-offset-6 {
        margin-left: 50%
    }
    .vc_col-lg-offset-5 {
        margin-left: 41.66666667%
    }
    .vc_col-lg-offset-4 {
        margin-left: 33.33333333%
    }
    .vc_col-lg-offset-3 {
        margin-left: 25%
    }
    .vc_col-lg-offset-2 {
        margin-left: 16.66666667%
    }
    .vc_col-lg-offset-1 {
        margin-left: 8.33333333%
    }
    .vc_col-lg-offset-0 {
        margin-left: 0%
    }
    .vc_col-lg-1\/5,
    .vc_col-lg-2\/5,
    .vc_col-lg-3\/5,
    .vc_col-lg-4\/5,
    .vc_col-lg-5\/5 {
        float: left
    }
    [dir="rtl"] .vc_rtl-columns-reverse .vc_col-sm-1\/5,
    [dir="rtl"] .vc_rtl-columns-reverse .vc_col-sm-2\/5,
    [dir="rtl"] .vc_rtl-columns-reverse .vc_col-sm-3\/5,
    [dir="rtl"] .vc_rtl-columns-reverse .vc_col-sm-4\/5,
    [dir="rtl"] .vc_rtl-columns-reverse .vc_col-sm-5\/5 {
        float: right
    }
    .vc_col-lg-5\/5 {
        width: 100%
    }
    .vc_col-lg-4\/5 {
        width: 80%
    }
    .vc_col-lg-3\/5 {
        width: 60%
    }
    .vc_col-lg-2\/5 {
        width: 40%
    }
    .vc_col-lg-1\/5 {
        width: 20%
    }
    .vc_col-lg-pull-5\/5 {
        right: 100%
    }
    .vc_col-lg-pull-4\/5 {
        right: 80%
    }
    .vc_col-lg-pull-3\/5 {
        right: 60%
    }
    .vc_col-lg-pull-2\/5 {
        right: 40%
    }
    .vc_col-lg-pull-1\/5 {
        right: 20%
    }
    .vc_col-lg-pull-0\/5 {
        right: auto
    }
    .vc_col-lg-push-5\/5 {
        left: 100%
    }
    .vc_col-lg-push-4\/5 {
        left: 80%
    }
    .vc_col-lg-push-3\/5 {
        left: 60%
    }
    .vc_col-lg-push-2\/5 {
        left: 40%
    }
    .vc_col-lg-push-1\/5 {
        left: 20%
    }
    .vc_col-lg-push-0\/5 {
        left: auto
    }
    .vc_col-lg-offset-5\/5 {
        margin-left: 100%
    }
    .vc_col-lg-offset-4\/5 {
        margin-left: 80%
    }
    .vc_col-lg-offset-3\/5 {
        margin-left: 60%
    }
    .vc_col-lg-offset-2\/5 {
        margin-left: 40%
    }
    .vc_col-lg-offset-1\/5 {
        margin-left: 20%
    }
    .vc_col-lg-offset-0\/5 {
        margin-left: 0%
    }
}

.vc_pull-right {
    float: right !important
}

.vc_pull-left {
    float: left !important
}

.vc_clearfix:before,
.vc_clearfix:after {
    content: " ";
    display: table
}

.vc_clearfix:after {
    clear: both
}

.vc_clearfix:before,
.vc_clearfix:after {
    content: " ";
    display: table
}

.vc_clearfix:after {
    clear: both
}

.vc_el-clearfix {
    clear: both
}

@media (max-width:767px) {
    .vc_el-clearfix-xs {
        clear: both
    }
}

@media (min-width:768px) and (max-width:991px) {
    .vc_el-clearfix-sm {
        clear: both
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .vc_el-clearfix-md {
        clear: both
    }
}

@media (min-width:1200px) {
    .vc_el-clearfix-lg {
        clear: both
    }
}

.vc_visible {
    display: block
}

@font-face {
    font-family: 'vcpb-plugin-icons';
    src: url('//woodmart.xtemos.com/mega-electronics/wp-content/plugins/js_composer/assets/fonts/vc_icons_v2/fonts/vcpb-plugin-icons.eot?f6ud62');
    src: url('//woodmart.xtemos.com/mega-electronics/wp-content/plugins/js_composer/assets/fonts/vc_icons_v2/fonts/vcpb-plugin-icons.eot?f6ud62#iefix') format('embedded-opentype'), url('//woodmart.xtemos.com/mega-electronics/wp-content/plugins/js_composer/assets/fonts/vc_icons_v2/fonts/vcpb-plugin-icons.ttf?f6ud62') format('truetype'), url('//woodmart.xtemos.com/mega-electronics/wp-content/plugins/js_composer/assets/fonts/vc_icons_v2/fonts/vcpb-plugin-icons.woff?f6ud62') format('woff'), url('//woodmart.xtemos.com/mega-electronics/wp-content/plugins/js_composer/assets/fonts/vc_icons_v2/fonts/vcpb-plugin-icons.svg?f6ud62#vcpb-plugin-icons') format('svg');
    font-weight: normal;
    font-style: normal
}

.vc-composer-icon {
    font-family: 'vcpb-plugin-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.vc-c-icon-minimize:before {
    content: "\e91c"
}

.vc-c-icon-close:before {
    content: "\e5cd"
}

.vc-c-icon-1-6_4-6_1-6:before {
    content: "\e90e"
}

.vc-c-icon-add_template:before {
    content: "\e903"
}

.vc-c-icon-arrow_back:before {
    content: "\e5c4"
}

.vc-c-icon-arrow_drop_down:before {
    content: "\e5c5"
}

.vc-c-icon-arrow_drop_up:before {
    content: "\e5c7"
}

.vc-c-icon-arrow_forward:before {
    content: "\e5c8"
}

.vc-c-icon-check:before {
    content: "\e5ca"
}

.vc-c-icon-arrow_upward:before {
    content: "\e5d8"
}

.vc-c-icon-arrow_downward:before {
    content: "\e5db"
}

.vc-c-icon-sync:before {
    content: "\e627"
}

.vc-c-icon-search:before {
    content: "\e8b6"
}

.vc-c-icon-1-1:before {
    content: "\e900"
}

.vc-c-icon-1-2_1-2:before {
    content: "\e901"
}

.vc-c-icon-1-3_1-3_1-3:before {
    content: "\e902"
}

.vc-c-icon-1-4_1-2_1-4:before {
    content: "\e904"
}

.vc-c-icon-1-4_1-4_1-4_1-4:before {
    content: "\e905"
}

.vc-c-icon-1-4_3-4:before {
    content: "\e906"
}

.vc-c-icon-1-6_1-6_1-6_1-2:before {
    content: "\e907"
}

.vc-c-icon-1-6_1-6_1-6_1-6_1-6_1-6:before {
    content: "\e908"
}

.vc-c-icon-l_15_15_15_15_15:before {
    content: "\e909"
}

.vc-c-icon-1-6_2-3_1-6:before {
    content: "\e90a"
}

.vc-c-icon-2-3_1-3:before {
    content: "\e90b"
}

.vc-c-icon-5-6_1-6:before {
    content: "\e90c"
}

.vc-c-icon-add_element:before {
    content: "\e90d"
}

.vc-c-icon-add:before {
    content: "\e90f"
}

.vc-c-icon-cog:before {
    content: "\e910"
}

.vc-c-icon-content_copy:before {
    content: "\e911"
}

.vc-c-icon-delete_empty:before {
    content: "\e912"
}

.vc-c-icon-dragndrop:before {
    content: "\e913"
}

.vc-c-icon-fullscreen_exit:before {
    content: "\e914"
}

.vc-c-icon-fullscreen:before {
    content: "\e915"
}

.vc-c-icon-arrow_drop_right:before {
    content: "\e916"
}

.vc-c-icon-layout_default:before {
    content: "\e917"
}

.vc-c-icon-layout_landscape-smartphones:before {
    content: "\e918"
}

.vc-c-icon-layout_landscape-tablets:before {
    content: "\e919"
}

.vc-c-icon-layout_portrait-smartphones:before {
    content: "\e91a"
}

.vc-c-icon-layout_portrait-tablets:before {
    content: "\e91b"
}

.vc-c-icon-mode_edit:before {
    content: "\e91d"
}

.vc-c-icon-row_default_fe:before {
    content: "\e91e"
}

.vc-c-icon-text-block:before {
    content: "\e91f"
}

.wpb_alert p:last-child,
#content .wpb_alert p:last-child,
.wpb_text_column p:last-child,
.wpb_text_column *:last-child,
#content .wpb_text_column p:last-child,
#content .wpb_text_column *:last-child {
    margin-bottom: 0
}

.wpb_content_element,
ul.wpb_thumbnails-fluid>li,
.wpb_button {
    margin-bottom: 35px
}

.fb_like,
.twitter-share-button,
.entry-content .twitter-share-button,
.wpb_googleplus,
.wpb_pinterest,
.wpb_tab .wpb_content_element,
.wpb_accordion .wpb_content_element {
    margin-bottom: 21.73913043px
}

.vc_row.vc_row-no-padding .vc_column-inner {
    padding-left: 0;
    padding-right: 0
}

.vc_row[data-vc-full-width] {
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
    overflow: hidden
}

.vc_row[data-vc-full-width].vc_hidden {
    opacity: 0
}

.vc_row-no-padding .vc_inner {
    margin-left: 0;
    margin-right: 0
}

.vc_row.vc_row-o-full-height {
    min-height: 100vh
}

.vc_row.vc_row-flex {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.vc_row.vc_row-flex>.vc_column_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.vc_row.vc_row-flex>.vc_column_container>.vc_column-inner {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 1
}

@media (-ms-high-contrast:active),
(-ms-high-contrast:none) {
    .vc_row.vc_row-flex>.vc_column_container>.vc_column-inner>* {
        min-height: 1em
    }
}

.vc_row.vc_row-flex::before,
.vc_row.vc_row-flex::after {
    display: none
}

.vc_row.vc_row-o-columns-stretch {
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch
}

.vc_row.vc_row-o-columns-top {
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start
}

.vc_row.vc_row-o-columns-bottom {
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end
}

.vc_row.vc_row-o-columns-middle {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center
}

.vc_row.vc_row-o-columns-top::after,
.vc_row.vc_row-o-columns-bottom::after,
.vc_row.vc_row-o-columns-middle::after {
    content: '';
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    display: block
}

.vc_row.vc_row-o-equal-height>.vc_column_container {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.vc_row.vc_row-o-content-top>.vc_column_container>.vc_column-inner {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.vc_row.vc_row-o-content-top:not(.vc_row-o-equal-height)>.vc_column_container {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

.vc_row.vc_row-o-content-bottom>.vc_column_container>.vc_column-inner {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.vc_row.vc_row-o-content-bottom:not(.vc_row-o-equal-height)>.vc_column_container {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}

.vc_row.vc_row-o-content-middle>.vc_column_container>.vc_column-inner {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.vc_row.vc_row-o-content-middle:not(.vc_row-o-equal-height)>.vc_column_container {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.vc_column-inner::before,
.vc_column-inner::after {
    content: " ";
    display: table
}

.vc_column-inner::after {
    clear: both
}

.vc_ie-flexbox-fixer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.vc_ie-flexbox-fixer>.vc_row {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.vc_row.vc_column-gap-1 {
    margin-left: -15.5px;
    margin-right: -15.5px
}

.vc_row.vc_column-gap-1>.vc_column_container {
    padding: .5px
}

.vc_row.vc_column-gap-2 {
    margin-left: -16px;
    margin-right: -16px
}

.vc_row.vc_column-gap-2>.vc_column_container {
    padding: 1px
}

.vc_row.vc_column-gap-3 {
    margin-left: -16.5px;
    margin-right: -16.5px
}

.vc_row.vc_column-gap-3>.vc_column_container {
    padding: 1.5px
}

.vc_row.vc_column-gap-4 {
    margin-left: -17px;
    margin-right: -17px
}

.vc_row.vc_column-gap-4>.vc_column_container {
    padding: 2px
}

.vc_row.vc_column-gap-5 {
    margin-left: -17.5px;
    margin-right: -17.5px
}

.vc_row.vc_column-gap-5>.vc_column_container {
    padding: 2.5px
}

.vc_row.vc_column-gap-10 {
    margin-left: -20px;
    margin-right: -20px
}

.vc_row.vc_column-gap-10>.vc_column_container {
    padding: 5px
}

.vc_row.vc_column-gap-15 {
    margin-left: -22.5px;
    margin-right: -22.5px
}

.vc_row.vc_column-gap-15>.vc_column_container {
    padding: 7.5px
}

.vc_row.vc_column-gap-20 {
    margin-left: -25px;
    margin-right: -25px
}

.vc_row.vc_column-gap-20>.vc_column_container {
    padding: 10px
}

.vc_row.vc_column-gap-25 {
    margin-left: -27.5px;
    margin-right: -27.5px
}

.vc_row.vc_column-gap-25>.vc_column_container {
    padding: 12.5px
}

.vc_row.vc_column-gap-30 {
    margin-left: -30px;
    margin-right: -30px
}

.vc_row.vc_column-gap-30>.vc_column_container {
    padding: 15px
}

.vc_row.vc_column-gap-35 {
    margin-left: -32.5px;
    margin-right: -32.5px
}

.vc_row.vc_column-gap-35>.vc_column_container {
    padding: 17.5px
}

.vc_column_container {
    padding-left: 0;
    padding-right: 0
}

.vc_column_container>.vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%
}

.vc_row-has-fill>.vc_column_container>.vc_column-inner,
.vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner,
.vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner,
.vc_col-has-fill>.vc_column-inner {
    padding-top: 35px
}

.vc_section {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -15px;
    margin-right: -15px
}

.vc_section[data-vc-full-width] {
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
    overflow: hidden
}

.vc_section[data-vc-full-width].vc_hidden {
    opacity: 0
}

.vc_section[data-vc-full-width]>.vc_row {
    margin-left: 0;
    margin-right: 0
}

.vc_section[data-vc-stretch-content] {
    padding-left: 0;
    padding-right: 0
}

.vc_section.vc_row-o-full-height {
    min-height: 100vh
}

.vc_section.vc_section-flex {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap
}

.vc_section.vc_section-flex .vc_vc_row {
    width: 100%
}

.vc_section.vc_section-flex::before,
.vc_section.vc_section-flex::after {
    display: none
}

.vc_section.vc_section-o-content-top {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.vc_section.vc_section-o-content-bottom {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.vc_section.vc_section-o-content-middle {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.vc_section.vc_section-o-content-top::after,
.vc_section.vc_section-o-content-bottom::after,
.vc_section.vc_section-o-content-middle::after {
    content: '';
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    display: block
}

.vc_section.vc_section-has-fill,
.vc_section.vc_section-has-fill+.vc_section,
.vc_section.vc_section-has-fill+.vc_row-full-width+.vc_section {
    padding-top: 35px
}

.vc_row.vc_column-gap-1>.vc_vc_column>.vc_column_container,
.vc_row.vc_column-gap-1>.vc_vc_column_inner>.vc_column_container {
    padding-left: .5px;
    padding-right: .5px
}

.vc_row.vc_column-gap-2>.vc_vc_column>.vc_column_container,
.vc_row.vc_column-gap-2>.vc_vc_column_inner>.vc_column_container {
    padding-left: 1px;
    padding-right: 1px
}

.vc_row.vc_column-gap-3>.vc_vc_column>.vc_column_container,
.vc_row.vc_column-gap-3>.vc_vc_column_inner>.vc_column_container {
    padding-left: 1.5px;
    padding-right: 1.5px
}

.vc_row.vc_column-gap-4>.vc_vc_column>.vc_column_container,
.vc_row.vc_column-gap-4>.vc_vc_column_inner>.vc_column_container {
    padding-left: 2px;
    padding-right: 2px
}

.vc_row.vc_column-gap-5>.vc_vc_column>.vc_column_container,
.vc_row.vc_column-gap-5>.vc_vc_column_inner>.vc_column_container {
    padding-left: 2.5px;
    padding-right: 2.5px
}

.vc_row.vc_column-gap-10>.vc_vc_column>.vc_column_container,
.vc_row.vc_column-gap-10>.vc_vc_column_inner>.vc_column_container {
    padding-left: 5px;
    padding-right: 5px
}

.vc_row.vc_column-gap-15>.vc_vc_column>.vc_column_container,
.vc_row.vc_column-gap-15>.vc_vc_column_inner>.vc_column_container {
    padding-left: 7.5px;
    padding-right: 7.5px
}

.vc_row.vc_column-gap-20>.vc_vc_column>.vc_column_container,
.vc_row.vc_column-gap-20>.vc_vc_column_inner>.vc_column_container {
    padding-left: 10px;
    padding-right: 10px
}

.vc_row.vc_column-gap-25>.vc_vc_column>.vc_column_container,
.vc_row.vc_column-gap-25>.vc_vc_column_inner>.vc_column_container {
    padding-left: 12.5px;
    padding-right: 12.5px
}

.vc_row.vc_column-gap-30>.vc_vc_column>.vc_column_container,
.vc_row.vc_column-gap-30>.vc_vc_column_inner>.vc_column_container {
    padding-left: 15px;
    padding-right: 15px
}

.vc_row.vc_column-gap-35>.vc_vc_column>.vc_column_container,
.vc_row.vc_column-gap-35>.vc_vc_column_inner>.vc_column_container {
    padding-left: 17.5px;
    padding-right: 17.5px
}

.vc_vc_column,
.vc_vc_column_inner {
    padding-left: 0;
    padding-right: 0
}

.vc_row.vc_row-flex>.vc_vc_column,
.vc_row.vc_row-flex>.vc_vc_column_inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.vc_row.vc_row-flex>.vc_vc_column>.vc_column_container,
.vc_row.vc_row-flex>.vc_vc_column_inner>.vc_column_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

.vc_row.vc_row-flex>.vc_vc_column>.vc_column_container>.vc_column-inner,
.vc_row.vc_row-flex>.vc_vc_column_inner>.vc_column_container>.vc_column-inner {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.vc_row.vc_row-o-equal-height>.vc_column_container {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.vc_row.vc_row-o-content-top>.vc_vc_column>.vc_column_container>.vc_column-inner,
.vc_row.vc_row-o-content-top>.vc_vc_column_inner>.vc_column_container>.vc_column-inner {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.vc_row.vc_row-o-content-top:not(.vc_row-o-equal-height)>.vc_vc_column>.vc_column_container,
.vc_row.vc_row-o-content-top:not(.vc_row-o-equal-height)>.vc_vc_column_inner>.vc_column_container {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

.vc_row.vc_row-o-content-bottom>.vc_vc_column>.vc_column_container>.vc_column-inner,
.vc_row.vc_row-o-content-bottom>.vc_vc_column_inner>.vc_column_container>.vc_column-inner {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.vc_row.vc_row-o-content-bottom:not(.vc_row-o-equal-height)>.vc_vc_column>.vc_column_container,
.vc_row.vc_row-o-content-bottom:not(.vc_row-o-equal-height)>.vc_vc_column_inner>.vc_column_container {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}

.vc_row.vc_row-o-content-middle>.vc_vc_column>.vc_column_container>.vc_column-inner,
.vc_row.vc_row-o-content-middle>.vc_vc_column_inner>.vc_column_container>.vc_column-inner {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.vc_row.vc_row-o-content-middle:not(.vc_row-o-equal-height)>.vc_vc_column>.vc_column_container,
.vc_row.vc_row-o-content-middle:not(.vc_row-o-equal-height)>.vc_vc_column_inner>.vc_column_container {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.vc_empty-element>.vc_column-inner {
    min-height: 100px
}

.vc_row-has-fill>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner,
.vc_row-has-fill>.vc_vc_column_inner>.vc_column_container>.vc_column-inner,
.vc_row-has-fill+.vc_vc_row>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner,
.vc_row-has-fill+.vc_vc_row_inner>.vc_row>.vc_vc_column_inner>.vc_column_container>.vc_column-inner {
    padding-top: 35px
}

.vc_separator {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.vc_separator h4 {
    line-height: 1em;
    font-size: 100%;
    margin: 0;
    word-wrap: break-word;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto
}

.vc_separator h4 .normal {
    font-size: 12px;
    font-weight: normal
}

.vc_separator .vc_sep_holder {
    height: 1px;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 10%
}

.vc_separator .vc_sep_holder .vc_sep_line {
    height: 1px;
    border-top: 1px solid #EBEBEB;
    display: block;
    position: relative;
    top: 1px;
    width: 100%
}

.vc_separator.vc_separator_align_center h4 {
    padding: 0 .8em
}

.vc_separator.vc_separator_align_left h4 {
    padding: 0 .8em 0 0
}

.vc_separator.vc_separator_align_left .vc_sep_holder.vc_sep_holder_l {
    display: none
}

.vc_separator.vc_separator_align_right h4 {
    padding: 0 0 0 .8em;
    margin: 0 !important
}

.vc_separator.vc_separator_align_right .vc_sep_holder.vc_sep_holder_r {
    display: none
}

.vc_separator.vc_sep_double {
    height: 3px
}

.vc_separator.vc_sep_double .vc_sep_line {
    border-bottom: 1px solid #EBEBEB;
    border-top: 1px solid #EBEBEB;
    height: 3px
}

.vc_separator.vc_sep_dashed .vc_sep_line {
    border-top-style: dashed
}

.vc_separator.vc_sep_dotted .vc_sep_line {
    border-top-style: dotted
}

.vc_separator.vc_sep_shadow .vc_sep_line {
    border: none;
    position: relative;
    height: 20px;
    top: 0;
    overflow: hidden
}

.vc_separator.vc_sep_shadow .vc_sep_line::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -20px;
    right: 0;
    height: 10px;
    border-radius: 100%
}

.vc_separator.vc_sep_shadow .vc_sep_holder_l .vc_sep_line::after {
    right: -100%;
    box-shadow: 10px 10px 10px 1px
}

.vc_separator.vc_sep_shadow .vc_sep_holder_r .vc_sep_line::after {
    left: -100%;
    box-shadow: -10px 10px 10px 1px
}

.vc_separator.vc_separator_no_text:not(.vc_sep_shadow) .vc_sep_holder_l {
    width: 100%
}

.vc_separator.vc_separator_no_text:not(.vc_sep_shadow) .vc_sep_holder_r {
    display: none
}

.vc_separator .vc_icon_element {
    margin-bottom: 0
}

.vc_separator .vc_icon_element:not(.vc_icon_element-have-style)+h4 {
    padding-left: 0
}

.vc_separator .vc_icon_element:not(.vc_icon_element-have-style) .vc_icon_element-size-xl {
    margin-left: .8em;
    margin-right: .8em
}

.vc_separator.vc_separator-has-text.vc_separator_align_center .vc_icon_element.vc_icon_element-have-style,
.vc_separator.vc_separator-has-text.vc_separator_align_right .vc_icon_element.vc_icon_element-have-style {
    margin-left: .8em
}

.vc_separator.vc_separator_align_left .vc_icon_element.vc_icon_element-have-style+h4 {
    padding-left: .8em
}

.vc_separator.vc_sep_border_width_1 .vc_sep_holder .vc_sep_line {
    border-top-width: 1px
}

.vc_separator.vc_sep_border_width_1.vc_sep_double .vc_sep_holder .vc_sep_line {
    border-bottom-width: 1px;
    top: 0
}

.vc_separator.vc_sep_border_width_1.vc_sep_shadow .vc_sep_line {
    top: 0
}

.vc_separator.vc_sep_border_width_1.vc_sep_shadow .vc_sep_holder_l .vc_sep_line::after {
    box-shadow: 10px 10px 10px 1px
}

.vc_separator.vc_sep_border_width_1.vc_sep_shadow .vc_sep_holder_r .vc_sep_line::after {
    box-shadow: -10px 10px 10px 1px
}

.vc_separator.vc_sep_border_width_2 .vc_sep_holder .vc_sep_line {
    border-top-width: 2px
}

.vc_separator.vc_sep_border_width_2.vc_sep_double .vc_sep_holder .vc_sep_line {
    border-bottom-width: 2px;
    top: -1px
}

.vc_separator.vc_sep_border_width_2.vc_sep_shadow .vc_sep_line {
    top: -1px
}

.vc_separator.vc_sep_border_width_2.vc_sep_shadow .vc_sep_holder_l .vc_sep_line::after {
    box-shadow: 10px 10px 10px 2px
}

.vc_separator.vc_sep_border_width_2.vc_sep_shadow .vc_sep_holder_r .vc_sep_line::after {
    box-shadow: -10px 10px 10px 2px
}

.vc_separator.vc_sep_border_width_3 .vc_sep_holder .vc_sep_line {
    border-top-width: 3px
}

.vc_separator.vc_sep_border_width_3.vc_sep_double .vc_sep_holder .vc_sep_line {
    border-bottom-width: 3px;
    top: -1px
}

.vc_separator.vc_sep_border_width_3.vc_sep_shadow .vc_sep_line {
    top: -1px
}

.vc_separator.vc_sep_border_width_3.vc_sep_shadow .vc_sep_holder_l .vc_sep_line::after {
    box-shadow: 10px 10px 10px 3px
}

.vc_separator.vc_sep_border_width_3.vc_sep_shadow .vc_sep_holder_r .vc_sep_line::after {
    box-shadow: -10px 10px 10px 3px
}

.vc_separator.vc_sep_border_width_4 .vc_sep_holder .vc_sep_line {
    border-top-width: 4px
}

.vc_separator.vc_sep_border_width_4.vc_sep_double .vc_sep_holder .vc_sep_line {
    border-bottom-width: 4px;
    top: -2px
}

.vc_separator.vc_sep_border_width_4.vc_sep_shadow .vc_sep_line {
    top: -2px
}

.vc_separator.vc_sep_border_width_4.vc_sep_shadow .vc_sep_holder_l .vc_sep_line::after {
    box-shadow: 10px 10px 10px 4px
}

.vc_separator.vc_sep_border_width_4.vc_sep_shadow .vc_sep_holder_r .vc_sep_line::after {
    box-shadow: -10px 10px 10px 4px
}

.vc_separator.vc_sep_border_width_5 .vc_sep_holder .vc_sep_line {
    border-top-width: 5px
}

.vc_separator.vc_sep_border_width_5.vc_sep_double .vc_sep_holder .vc_sep_line {
    border-bottom-width: 5px;
    top: -2px
}

.vc_separator.vc_sep_border_width_5.vc_sep_shadow .vc_sep_line {
    top: -2px
}

.vc_separator.vc_sep_border_width_5.vc_sep_shadow .vc_sep_holder_l .vc_sep_line::after {
    box-shadow: 10px 10px 10px 5px
}

.vc_separator.vc_sep_border_width_5.vc_sep_shadow .vc_sep_holder_r .vc_sep_line::after {
    box-shadow: -10px 10px 10px 5px
}

.vc_separator.vc_sep_border_width_6 .vc_sep_holder .vc_sep_line {
    border-top-width: 6px
}

.vc_separator.vc_sep_border_width_6.vc_sep_double .vc_sep_holder .vc_sep_line {
    border-bottom-width: 6px;
    top: -3px
}

.vc_separator.vc_sep_border_width_6.vc_sep_shadow .vc_sep_line {
    top: -3px
}

.vc_separator.vc_sep_border_width_6.vc_sep_shadow .vc_sep_holder_l .vc_sep_line::after {
    box-shadow: 10px 10px 10px 6px
}

.vc_separator.vc_sep_border_width_6.vc_sep_shadow .vc_sep_holder_r .vc_sep_line::after {
    box-shadow: -10px 10px 10px 6px
}

.vc_separator.vc_sep_border_width_7 .vc_sep_holder .vc_sep_line {
    border-top-width: 7px
}

.vc_separator.vc_sep_border_width_7.vc_sep_double .vc_sep_holder .vc_sep_line {
    border-bottom-width: 7px;
    top: -3px
}

.vc_separator.vc_sep_border_width_7.vc_sep_shadow .vc_sep_line {
    top: -3px
}

.vc_separator.vc_sep_border_width_7.vc_sep_shadow .vc_sep_holder_l .vc_sep_line::after {
    box-shadow: 10px 10px 10px 7px
}

.vc_separator.vc_sep_border_width_7.vc_sep_shadow .vc_sep_holder_r .vc_sep_line::after {
    box-shadow: -10px 10px 10px 7px
}

.vc_separator.vc_sep_border_width_8 .vc_sep_holder .vc_sep_line {
    border-top-width: 8px
}

.vc_separator.vc_sep_border_width_8.vc_sep_double .vc_sep_holder .vc_sep_line {
    border-bottom-width: 8px;
    top: -4px
}

.vc_separator.vc_sep_border_width_8.vc_sep_shadow .vc_sep_line {
    top: -4px
}

.vc_separator.vc_sep_border_width_8.vc_sep_shadow .vc_sep_holder_l .vc_sep_line::after {
    box-shadow: 10px 10px 10px 8px
}

.vc_separator.vc_sep_border_width_8.vc_sep_shadow .vc_sep_holder_r .vc_sep_line::after {
    box-shadow: -10px 10px 10px 8px
}

.vc_separator.vc_sep_border_width_9 .vc_sep_holder .vc_sep_line {
    border-top-width: 9px
}

.vc_separator.vc_sep_border_width_9.vc_sep_double .vc_sep_holder .vc_sep_line {
    border-bottom-width: 9px;
    top: -4px
}

.vc_separator.vc_sep_border_width_9.vc_sep_shadow .vc_sep_line {
    top: -4px
}

.vc_separator.vc_sep_border_width_9.vc_sep_shadow .vc_sep_holder_l .vc_sep_line::after {
    box-shadow: 10px 10px 10px 9px
}

.vc_separator.vc_sep_border_width_9.vc_sep_shadow .vc_sep_holder_r .vc_sep_line::after {
    box-shadow: -10px 10px 10px 9px
}

.vc_separator.vc_sep_border_width_10 .vc_sep_holder .vc_sep_line {
    border-top-width: 10px
}

.vc_separator.vc_sep_border_width_10.vc_sep_double .vc_sep_holder .vc_sep_line {
    border-bottom-width: 10px;
    top: -5px
}

.vc_separator.vc_sep_border_width_10.vc_sep_shadow .vc_sep_line {
    top: -5px
}

.vc_separator.vc_sep_border_width_10.vc_sep_shadow .vc_sep_holder_l .vc_sep_line::after {
    box-shadow: 10px 10px 10px 10px
}

.vc_separator.vc_sep_border_width_10.vc_sep_shadow .vc_sep_holder_r .vc_sep_line::after {
    box-shadow: -10px 10px 10px 10px
}

.vc_separator.vc_sep_color_blue .vc_sep_line {
    border-color: #5472D2
}

.vc_separator.vc_sep_color_blue.vc_sep_shadow .vc_sep_holder {
    color: #5472D2
}

.vc_separator.vc_sep_color_turquoise .vc_sep_line {
    border-color: #00C1CF
}

.vc_separator.vc_sep_color_turquoise.vc_sep_shadow .vc_sep_holder {
    color: #00C1CF
}

.vc_separator.vc_sep_color_pink .vc_sep_line {
    border-color: #FE6C61
}

.vc_separator.vc_sep_color_pink.vc_sep_shadow .vc_sep_holder {
    color: #FE6C61
}

.vc_separator.vc_sep_color_violet .vc_sep_line {
    border-color: #8D6DC4
}

.vc_separator.vc_sep_color_violet.vc_sep_shadow .vc_sep_holder {
    color: #8D6DC4
}

.vc_separator.vc_sep_color_peacoc .vc_sep_line {
    border-color: #4CADC9
}

.vc_separator.vc_sep_color_peacoc.vc_sep_shadow .vc_sep_holder {
    color: #4CADC9
}

.vc_separator.vc_sep_color_chino .vc_sep_line {
    border-color: #CEC2AB
}

.vc_separator.vc_sep_color_chino.vc_sep_shadow .vc_sep_holder {
    color: #CEC2AB
}

.vc_separator.vc_sep_color_mulled_wine .vc_sep_line {
    border-color: #50485B
}

.vc_separator.vc_sep_color_mulled_wine.vc_sep_shadow .vc_sep_holder {
    color: #50485B
}

.vc_separator.vc_sep_color_vista_blue .vc_sep_line {
    border-color: #75D69C
}

.vc_separator.vc_sep_color_vista_blue.vc_sep_shadow .vc_sep_holder {
    color: #75D69C
}

.vc_separator.vc_sep_color_black .vc_sep_line {
    border-color: #2A2A2A
}

.vc_separator.vc_sep_color_black.vc_sep_shadow .vc_sep_holder {
    color: #2A2A2A
}

.vc_separator.vc_sep_color_grey .vc_sep_line {
    border-color: #EBEBEB
}

.vc_separator.vc_sep_color_grey.vc_sep_shadow .vc_sep_holder {
    color: #EBEBEB
}

.vc_separator.vc_sep_color_orange .vc_sep_line {
    border-color: #F7BE68
}

.vc_separator.vc_sep_color_orange.vc_sep_shadow .vc_sep_holder {
    color: #F7BE68
}

.vc_separator.vc_sep_color_sky .vc_sep_line {
    border-color: #5AA1E3
}

.vc_separator.vc_sep_color_sky.vc_sep_shadow .vc_sep_holder {
    color: #5AA1E3
}

.vc_separator.vc_sep_color_green .vc_sep_line {
    border-color: #6DAB3C
}

.vc_separator.vc_sep_color_green.vc_sep_shadow .vc_sep_holder {
    color: #6DAB3C
}

.vc_separator.vc_sep_color_juicy_pink .vc_sep_line {
    border-color: #F4524D
}

.vc_separator.vc_sep_color_juicy_pink.vc_sep_shadow .vc_sep_holder {
    color: #F4524D
}

.vc_separator.vc_sep_color_sandy_brown .vc_sep_line {
    border-color: #F79468
}

.vc_separator.vc_sep_color_sandy_brown.vc_sep_shadow .vc_sep_holder {
    color: #F79468
}

.vc_separator.vc_sep_color_purple .vc_sep_line {
    border-color: #B97EBB
}

.vc_separator.vc_sep_color_purple.vc_sep_shadow .vc_sep_holder {
    color: #B97EBB
}

.vc_separator.vc_sep_color_white .vc_sep_line {
    border-color: #FFFFFF
}

.vc_separator.vc_sep_color_white.vc_sep_shadow .vc_sep_holder {
    color: #FFFFFF
}

.wpb_separator,
.vc_text_separator {
    border-bottom: 1px solid #EBEBEB
}

.vc_sep_width_10 {
    width: 10%
}

.vc_sep_width_20 {
    width: 20%
}

.vc_sep_width_30 {
    width: 30%
}

.vc_sep_width_40 {
    width: 40%
}

.vc_sep_width_50 {
    width: 50%
}

.vc_sep_width_60 {
    width: 60%
}

.vc_sep_width_70 {
    width: 70%
}

.vc_sep_width_80 {
    width: 80%
}

.vc_sep_width_90 {
    width: 90%
}

.vc_sep_width_100 {
    width: 100%
}

.vc_sep_pos_align_center {
    margin-left: auto;
    margin-right: auto
}

.vc_sep_pos_align_left {
    margin-left: 0;
    margin-right: auto
}

.vc_sep_pos_align_right {
    margin-left: auto;
    margin-right: 0
}

.wpb_separator {
    clear: both;
    height: 1px
}

.vc_text_separator {
    clear: both;
    height: 1px
}

.vc_text_separator div {
    display: inline-block;
    background-color: #FFFFFF;
    padding: 1px 1em;
    position: relative;
    top: -9px
}

.separator_align_center {
    text-align: center
}

.separator_align_left {
    text-align: left
}

.separator_align_right {
    text-align: right
}